@page
@using Models

@model IndexModel // Change this to your IndexModel class
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>

<div>
    @if (Model.PatientModel != null)
    {
        if (Model.PatientModel.IsInfluenza==true)
        {
            <p>Influenza: Yes</p>
        }

        if (Model.PatientModel.IsDiabetes == true)
        {
            <p><strong>Diabetes:</strong> Yes</p>
        }

        if (Model.PatientModel.IsAlzehimer == true)
        {
            <p><strong>Alzheimer:</strong> Yes</p>
        }

        if (Model.PatientModel.IsAntiallergic == true)
        {
            <p><strong>Antiallergic:</strong> Yes</p>
        }

        if (Model.PatientModel.IsAntidepressants == true)
        {
            <p><strong>Antidepressants:</strong> Yes</p>
        }
    }
    else
    {
        <p>No patient information available.</p>
    }
</div>
